// Place all the styles related to the Goldbricks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tzinfo {
  font-size: 9px;
}

table.goldbricks {
  tr {
    td {
      a.goldbrick-delete-link {
        &:hover {
          text-decoration: none;
          color: red;
        }
      }
    }
  }
}
